/packages
/TaxDedutions/TaxDedutions.Windows/obj
/TaxDedutions/TaxDedutions.Windows/bin
/TaxDedutions/TaxDedutions.WinPhone/obj
/TaxDedutions/TaxDedutions.WinPhone/bin
/TaxDedutions/TaxDedutions.iOS/obj
/TaxDedutions/TaxDedutions.iOS/bin
/TaxDedutions/TaxDedutions.Droid/obj
/TaxDedutions/TaxDedutions.Droid/bin
/TaxDedutions/TaxDedutions/obj
/TaxDedutions/TaxDedutions/bin
